@media screen and (max-width: 1279px) {
    /*all users page*/

    #usersList {
        padding: 40px 20px;
        gap: 30px;
    }

    /*single user page*/

    #userPosts {
        grid-template-columns: repeat(3, 1fr);
    }

    .post-item {
        min-height: 150px;
    }

    /*single post page*/

    #commentsList {
        grid-template-columns: repeat(2, 1fr);
    }
}